@use '~@epam/promo/assets/styles/index' as *;

.uuiTitle {
    margin-top: 80px;
    font-size: 120px;
    line-height: 120px;
    color: white;
    font-family: 'Sans Semibold', Arial, sans-serif;
}

.bgImg {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(180deg, #21232E 0%, rgba(57, 61, 74, 0.1) 100%), linear-gradient(270deg, rgba(24, 24, 22, 0) 0%, #000000 100%), url(../icons/pattern.jpg);
}


.statisticsPanel {
    min-width: 500px;
    max-width: 600px;
    height: 300px;
}

.features {
    width: 100%;
}
