@use '~@epam/promo/assets/styles/index' as *;

html, body {
    height: 100%;
}

body {
    margin: 0;

    > div {
        height: 100%;
    }
}

main {
    flex: 1 1 auto;
    box-sizing: border-box;
    background: $gray10;
}

footer {
    height: 30px;
    background: $gray70;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.title {
    margin-left: 15px;
}

.failedTitle {
    margin-right: 15px;
}

.caption {
    color: aliceblue;
}

.header {
    z-index: 100;
}

