@use '~@epam/promo/assets/styles/index' as *;

html, body {
    height: 100%;
}

body {
    margin: 0;

    > div {
        height: 100%;
    }
}

main {
    flex: 1 1 auto;
    box-sizing: border-box;
    background: $gray10;
}

footer {
    height: 30px;
    background: $gray70;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.title {
    margin-left: 15px;
}

.failedTitle {
    margin-right: 15px;
}

.caption {
    color: aliceblue;
}

.header {
    z-index: 100;
}

.features {
    width: 100%;
}

.tagBadge {
    margin-right: 5px;
}

.searchInput {
    margin-right: 12px;
}

.modal {
    width: 50%;
}

.icon {
    margin-right: 5px;
}

.searchInput {
    margin-right: 12px;
}

.uuiTitle {
    margin-top: 80px;
    font-size: 120px;
    line-height: 120px;
    color: white;
    font-family: 'Sans Semibold', Arial, sans-serif;
}

.statisticsPanel {
    width: 100%;
    height: 300px;
}

.featureTitle {
    margin-right: 12px;
    font-size: 28px;
}

