//@use '~@epam/uui/assets/styles/index' as *;

html, body {
    height: 100%;
    background-color: #383b4a;
    color: whitesmoke;
}

body {
    margin: 0;

    > div {
        height: 100%;
    }
}

main {
    flex: 1 1 auto;
    box-sizing: border-box;
}

footer {
    height: 30px;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.title {
    margin-left: 15px;
}

.failedTitle {
    margin-right: 15px;
}

.header {
    z-index: 100;
}

.features {
    width: 100%;
}

.tagBadge {
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.searchInput {
    margin-right: 12px;
}

.modal {
    width: 50%;
}

.icon {
    margin-right: 5px;
}

.searchInput {
    margin-right: 12px;
}

.uuiTitle {
    margin-top: 80px;
    font-size: 120px;
    line-height: 120px;
    font-family: 'Sans Semibold', Arial, sans-serif;
}

.statisticsPanel {
    width: 100%;
    height: 300px;
}

.featureTitle {
    margin-right: 12px;
    font-size: 28px;
}

.scenarioTitle {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}

.div[role=table] > div:first-child {
    z-index: 0;
}

.stepText {
    margin-right: 10px;
}

.responseTextArea {
    width: 100%;
}

.responseModal {
    overflow-y: scroll;
}

.responseUrlInput {
    width: 600px;
    margin-left: 25px;
}